<div class="row">
  <!-- Not implemented on tutorial -->
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <br>
    <br>
    <div style="height: 300px; overflow-y: auto;">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center"><b>Potential Matches</b></div>
        <!-- Table -->
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Match %</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |pair| %>
              <% if !pair.nil? %>
              <tr>
                <td>
                    <%= pair[0].name %> 
                </td>
                <td> 
                    <%= pair[1].to_s() + "%" %>
                </td>
                <td>
                    <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                              "data-sid" => current_user.id, "data-rip" => pair[0].id %>
                </td>
              </tr>
              <% end %>
          <% end %>

          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
	<center>	
	<h3><i><b>Your Conversations</b></i></h3>
	<hr>
	<div style="height: 400px; overflow-y: auto;">
      	<% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <%= image_tag("http://i.imgur.com/NPo9yel.png", width: '50') %>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                        <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  </div>
                </li>
            <% end %>
          </ul>
      	<% else %>
          <p>You have no conversations. Click send message with any user to create one.</p>
      	<% end %>
	</center>
    	</div>
  </div>
</div>
