<div class="row">
  <div class="col-md-5">
    <br>
    <legend>Sign In</legend>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div  class="form-group"><%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

        <div class="checkbox">
          <% if devise_mapping.rememberable? -%>
              <label>
                <%= f.check_box :remember_me %> Remember me
              </label>

          <% end -%>
        </div>

        <div><%= f.submit "Sign in", class: "btn btn-primary" %></div>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
    <br><br>
    <div class="well">
      <p>Created with Ruby on Rails using Bootstrap, MySQL, and hosted on AWS Elastic Beanstalk</p>
    </div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-6">
    <br><br><br><br>
    <p style="font-size: 28px; color: black; font-weight: bold">Connect with people with similar interests!</p>
    <br><br>
    <p style="font-size: 18px; color: black"><b>Import subreddits</b> from Reddit</p>
    <br>
    <p style="font-size: 18px; color: black"><b>Talk with</b> people who like the things you like</p>
  </div>
</div>
